body{

  color:coral;
}
p{
  text-align:center;
  font-size:60px;
 }
.btn{
background-color:#867970;
color:pink;
}
#fibonacciNautilus{
  text-align:center;
}

#fibonacciNautilus img{
  width: 240px;
  height: 300px;
}

#result {
  font-size: 50px;
  text-align: center;
}
