body{

  color:darkorchid;
}
p{
  text-align:center;
  font-size:60px;
 }
.btn{
background-color:#867970;
color:pink;
}
#exclamationMark{
  text-align:center;
/*  width: 125px;
  height: 300px;*/
}

#exclamationMark img{
  width: 125px;
  height: 300px;
}

#result {
  font-size: 50px;
  text-align: center;
}
