body{

  color:darkslategrey;
  background-color: gainsboro; 
}
p{
  text-align:center;
  font-size:60px;
 }
.btn{
background-color:#867970;
color:darkslategrey;
}
#cryptosquareImage{
  text-align:center;
}

#cryptosquareImage img{
  width: 461px;
  height: 306px;
}

#result {
  font-size: 50px;
  text-align: center;
}
